<!-- @mahros -->
<!-- Q? If you can make the <header> and <breadcrumb> sticky, do it! -->



<!-- Header Component - header.html -->
<header>
  <div class="container"
    style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; justify-items: left;">
    <div class="logo-section">
      <h1>
        EduConnect
      </h1>
      <p class="header-subtitle">Your Gateway to Academic Excellence</p>
    </div>
    <nav>
      <ul>
        <!-- Home
          About Us
          Course Catalog
          Course Details
          Student Dashboard
          Registration
          Contact Me
          University Website -->
        <li><a href="index.html">Home</a></li>
        <li><a href="pages/about.html">About Us</a></li>
        <li><a href="pages/course-catalog.html">Browse Courses</a></li>
        <li><a href="pages/course-detail.html">Course Details</a></li>
        <li><a href="pages/dashboard.html">Student Dashboard</a></li>
        <li><a href="pages/registration.html">Registration</a></li>
        <li><a href="pages/contact.html">Contact</a></li>
        <li><a href="https://www.educonnect.edu.eg/">University Website</a></li>
      </ul>
  </div>
</header>